{% extends 'base.html' %}

{% block title %}Информация об исполнителе{{ data.id }}{% endblock %}

{% block content %}
    <div>Информация об исполнителе</div>
    <div id="info">
        <p>
            {% if data.id == 1 %}
                 Австралийская рок-группа, сформированная в Сиднее в ноябре 1973 года выходцами из Шотландии,<br>
                братьями Малькольмом и Ангусом Янгами.
            {% elif data.id == 2 %}
                Nirvana  — американская рок-группа, созданная вокалистом и гитаристом Куртом Кобейном и басистом Кристом Новоселичем в Абердине, штат Вашингтон, в 1987 году.
                <br>В составе коллектива сменились несколько барабанщиков; дольше всех с группой играл ударник Дэйв Грол, присоединившийся к Кобейну и Новоселичу в 1990 году.
                <br>Группа совершила революцию, с ними ассоциируется жанр гранж-рока.
            {% else %}
                Led Zeppelin (рус. Лед Зе́ппелин[2][3], МФА: [ˌlɛd ˈzɛpˌlɪn][4]) — британская рок-группа, образовавшаяся в сентябре 1968 года в Лондоне, и признанная одной из самых успешных, новаторских и влиятельных в современной истории[5].
                <br> Создав собственное звучание (для которого были характерны утяжелённый гитарный драйв, оглушающее звучание ритм-секции и пронзительный вокал), Led Zeppelin стали одной из ведущих групп хард-рока[6], сыграли основополагающую роль в становлении хеви-метала[1][7][8], свободно интерпретируя фолк- и блюз-классику и обогащая стиль элементами других музыкальных жанров (рокабилли, рэгги, соул, фанка, кантри)[9].
            {% endif %}
        </p>
    </div>

    <p>Albums</p>

    <div id="albums">
        {% load static %}
        <ul>
            {% if data.id == 1 %}
                 <li><a> Back in Black</a> </li>
                <img src="{% static '/images/back_in_black.jpg' %}" width="320" height="247">
                <li><a> Who Made Who</a> </li>
                <img src="{% static '/images/whomadewho.jpg' %}" width="320" height="247">
                <li><a> Flick of the Switch </a> </li>
                <img src="{% static '/images/flickoftheswitch.jpeg' %}" width="320" height="247">
            {% elif data.id == 2 %}
                <li><a> Bleach</a> </li>
                <li><a> Nevermind</a> </li>
                <li><a> In Utero </a> </li>
            {% else %}
                <li><a> LZ I</a> </li>
                <li><a> LZ II</a> </li>
                <li><a> LZ III </a> </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}